apiVersion: v1
kind: Service
metadata:
  name: elasticjob-ui
  namespace: nexora-infra
  labels:
    app: elasticjob-ui
spec:
  type: ClusterIP
  ports:
  - port: 8088
    targetPort: 8088
    protocol: TCP
    name: http
  selector:
    app: elasticjob-ui
