server:
  port: 40006
  shutdown: graceful
  tomcat:
    threads:
      max: 200
      min-spare: 10
    max-connections: 10000

spring:
  application:
    name: authsrv

  # Nacos 配置 (本地覆盖)
  cloud:
    nacos:
      server-addr: ${NACOS_SERVER:127.0.0.1:8848}
      username: ${NACOS_USERNAME:nacos}
      password: ${NACOS_PASSWORD:nacos}
      config:
        namespace: ${NACOS_NAMESPACE:public}
        file-extension: yml
        refresh-enabled: true
        shared-configs:
          - data-id: common.yml
            group: DEFAULT_GROUP
            refresh: true
      discovery:
        namespace: ${NACOS_NAMESPACE:public}
        ephemeral: true

# Management
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}

# Logging
logging:
  level:
    root: INFO
    io.github.suj1e: DEBUG
    org.springframework.security: DEBUG
