server:
  port: 8103

spring:
  application:
    name: contentsrv
  datasource:
    url: jdbc:mysql://localhost:30001/tiz?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: Tiz@2026
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
  cloud:
    nacos:
      discovery:
        server-addr: localhost:30006
        namespace: tiz
      config:
        server-addr: localhost:30006
        namespace: tiz
        file-extension: yaml

# HTTP Client for llmsrv
llm:
  service:
    url: http://llmsrv:8106

# Management
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: when_authorized

# Logging
logging:
  level:
    root: INFO
    io.github.suj1e: DEBUG
    org.hibernate.SQL: DEBUG
