overrides:
  per_tenant_override_config: /etc/tempo/overrides.yaml
  defaults:
    metrics_generator_processors:
      - service-graph
      - span-metrics
    metrics_generator_histogram_buckets:
      - 0.005
      - 0.01
      - 0.025
      - 0.05
      - 0.1
      - 0.25
      - 0.5
      - 1
      - 2.5
      - 5
      - 10
