apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-init-scripts
  namespace: nexora-infra
data:
  01-create-databases.sql: |
    -- 创建数据库
    CREATE DATABASE IF NOT EXISTS nacos DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
    CREATE DATABASE IF NOT EXISTS seata DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
    CREATE DATABASE IF NOT EXISTS nexora DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
    CREATE DATABASE IF NOT EXISTS nexora_auth DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
    CREATE DATABASE IF NOT EXISTS nexora_mix DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
    CREATE DATABASE IF NOT EXISTS nexora_job DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

  my.cnf: |
    [mysqld]
    max_connections=500
    character-set-server=utf8mb4
    collation-server=utf8mb4_unicode_ci
    default-time-zone='+08:00'
    sql_mode=STRICT_TRANS_TABLES,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO
