apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: nexora-infra
  labels:
    app: kafka
spec:
  type: ClusterIP
  ports:
  - port: 9092
    targetPort: 9092
    protocol: TCP
    name: internal
  - port: 9093
    targetPort: 9093
    protocol: TCP
    name: external
  selector:
    app: kafka
